@import 'utils/fonts';

/* Utils */
$LIBRARY_RED: #ED1C24;
$UI_BLUE: #2799C5;
$COOL_GRAY_LIGHT: #A3A19E;
$COOL_GRAY_REGULAR: #837E77;

/*
 * Basic Button
 */
#basicButtonWithSvgIcon {
  background-color: transparent;
  border: 1px solid #CCC;

  span {
    display: block;
  }

  svg {
  text-align: center;
  }
}
/*
 * Pagination Button
 */
.paginationButton {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 33px;
  cursor: pointer;
  display: inline-block;
  font-family: Kievit-Medium;
  font-size: 13px;
  letter-spacing: 0.04em;
  line-height: 16.21px;
  overflow: hidden;
  padding: 5px 20px;
  &-dotRow {
    display: block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    &-element {
      border-radius: 100%;
      display: inline-block;
      margin: 0 4px 0 0;
      vertical-align: 1px;
    }
    &-number {
      display: inline-table;
      margin: 0 4px 0 0;
    }
  }
  &--hide {
    display: none;
  }
}

/*
 * SeemMore Button
 */

/*
 * Simple Button
 */


/*
 * ANIMATION CROSS-BROWSER COMPATIBILTY MIXIN
 * ---------------------
 * Usage: Makes CSS animations available on
 * multiple browsers.
 */

@mixin animation($animation...) {
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin keyframes($animationName) {

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

/*
 * PAGINATION BUTTON LOADING ANIMATION
 * ---------------------
 * Usage: The animation for the loader
 * in the pagaination button.
 */
.loading {
  @include animation(loading 2s infinite);

  &:nth-child(1n) {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  &:nth-child(2n) {
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  &:nth-child(3n) {
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
}

@include keyframes(loading) {
  0% {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    background: $COOL_GRAY_LIGHT;
  }
  50% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    background: #FFFFFF;
  }
  100% {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    background: $COOL_GRAY_LIGHT;
  }
}

.seeMoreButton {
    border: 2px solid $COOL_GRAY_LIGHT;
    fill: $COOL_GRAY_LIGHT;
}

#seeMoreSized {
  margin-left: 20px;
  svg {
    height: 44px;
    width: 44px;
  }
}

#seeMoreScaled {
  margin-left: 20px;
  svg {
    transform: scale(2);
  }
}

#seeMoreRed .seeMoreButton {
  border-color: $LIBRARY_RED;
  fill: $LIBRARY_RED;
  stroke: $LIBRARY_RED;
}

#seeMoreWhite {
  padding: 1em 0;
  .seeMoreButton {
    border-color: white;
    fill: white;
    stroke: white;
  }
}

.svgIcon {
  padding: 0;
  background: none;
  border: none;
  fill: $COOL_GRAY_LIGHT;
  stroke: $COOL_GRAY_LIGHT;
  cursor: pointer;

  svg {
    width: 22px;
    height: 22px;
  }
}

.visuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* IE6, IE7 */
  clip: rect(0, 0, 0, 0);
}
